*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(3, 3, 44);
}
h1{
    text-align: center;
    font-size: 4rem;
    margin:60px;
    color: white;
    font-style: italic;
    font-family:cursive;
    margin-bottom: 35px;
}
.cont{

width:60%;
border: 1px solid black;
background-color: white;
margin: auto;
display: flex;
flex-wrap: wrap;
box-shadow: 4px 4px 20px 10px rgba(255, 255, 255, 0.452);
}
.box{
    width:33.3%;
    height:110px;
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;


}
.box:hover{
    transition: background-color 0.5s;
background-color: rgba(14, 214, 14, 0.918);
cursor: pointer;


}
@media all and (min-width:1000px){

.box{
    height: 140px;
}

}
.btn{
    text-align: center;

}
button{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 10px;
    background-color: teal;
    color: white;
    transition: background-color 0.5s;
}
button:hover{
    cursor: pointer;
    background-color: black;
}
footer{
    color:white;
    text-align: center;
}
.big{
    font-size: 6rem;
    color: coral;
}
.right{

background-color: rgb(8, 161, 8);
box-shadow: 5px 5px 20px 10px greenyellow;

}
.gameover{
    background-color: red;
}